
.moviecard_frame {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    flex-shrink: 0;
    background-color: #393A6A;
    color: white;
    overflow: hidden;
  }

.moviecard_image {
      position: relative;
      height: 75%;
      width: 100%;
      object-fit: cover;
    }
    
    .moviecard_infoframe {
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 5%;
        height: 20%;
        width: 83.91%;
        font-size: 1.875vw;
      }

  .moviecard_title {
    width: 74%;
  }

  .moviecard_score {
    width: 9%;
  }

  .moviecard_foreground{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}

.moviecard_overviewframe{
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 85%;
    margin-top: 71px;
    text-align: left;
    flex-wrap: wrap;
}

.moviecard_overviewtitle{
    margin-top: 0px;
    font-size: 1.875vw;
}

.moviecard_overviewdiscription{
   margin-top: 43px;
   font-size: 1.438vw;
}
